<!--
  Generated template for the ReservationRoomListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='main'>
    <ion-title>{{roomName}}</ion-title>
  </ion-navbar>
</ion-header>



  <!-- 버튼 : 날짜/년/월/일 -->

  <ion-content>

     <!-- 회의실 헤더 -->
     <ion-item>
          <a center color ='#42A5DE' (click)="nextPageDatePick()">날짜 : {{service.date}}</a>
     </ion-item>


    <!-- 리스트  -->
    <ion-list>
       <!-- 리스트 헤더 -->

        <table id ="header" style="width:100%" >
          <tr>
            <th>예약시간</th>
            <th>예약내용</th> 
            <th>예약대상</th>
            <th>예약현황</th>
          </tr>
        </table>

        <hr class="my-hr1">

      <ion-item ion-item *ngFor="let item of service.reservationsData ; let i = index" (click)="nextPage(item.startTime, item.isUsed)">
        <!-- 아이템 : 예약시간 -->

        <table id ="body" style="width:100%" >
          <colgroup>
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
        </colgroup>
          <tr>
            <td><div class='item-time'>{{item.startTime}} ~ {{item.endTime}}</div></td>
            <td><div class='item-title'>{{item.title}}</div></td> 
            <td><div class='item-username'>{{item.userName}}</div></td>
            <td><div class='item-isusedtrue' *ngIf = 'item.isUsed'>사용중</div></td>
            <td><div class='item-isusedfalse' *ngIf = '!item.isUsed'></div></td>
          </tr>
        </table>
      </ion-item>
    </ion-list>



</ion-content>
