page-reservation-room-list {

    .parent {
   
    }

    table, th,td{
        border-collapse: collapse;
      }

      th{
        color: #42A5DE;
        padding: 15px;
      }

      td{
        font-size: small;
      }

    //   tr {
    //     background-color : #FAFAFA;
    //   }

    table#header th{
        // color: black;
    }

    // table#body tr:nth-child(even) {
    //     background-color: #eee;
    // }
    // table#body tr:nth-child(odd) {
    //     background-color : #FAFAFA;
    // }

    .my-hr1 {
        border: 0;
        height: 1px;
        background: #ccc;
    }

    // 라벨
    .label-1{
        color: white;
    }

    // 리스트 아이템
    .item-time {
        font-style: italic;
        // font-weight:bold;
        float:left;
        color : #42A5DE;
        font-size: x-small;
    }
    .item-title {
        text-align: center;
        font-size: x-small;
    }
    .item-username {
        text-align: center;
        font-size: x-small;
    }
    .item-isused {
        float:right;
        font-size: x-small;
    }

    .item-isusedtrue {
        float:right;
        font-size: x-small;
        color : red
    }

     // 리스트 아이템
        .item-left {
            font-style: italic;
            float:left;
            color : #42A5DE;

        }
        .item-center {
            text-align: center;
   
        }
        .item-right {
            text-align: right;
            
        }

}
